.titlecard{
	background-color: white;
	padding: 2cm;
	border: 1cm double black;
	margin-top: 1cm;
	text-align: center;
	max-width: 100%;
}

.abtright{
	background-color: white;
	padding: 10mm;
	border: 0.5cm double black;
	margin-top: 1cm;
	text-align: right;
	margin-left: 30rem;
	max-width: 100%;
}

.abtleft{
	background-color: white;
	padding: 10mm;
	border: 0.5cm double black;
	margin-top: 1cm;
	text-align: left;
	margin-right: 30rem;
	max-width: 100%;
}